@import 'spectre.min.css';
@import 'spectre-icons.min.css';
@import 'spectre-exp.min.css';

body {
    background: #eeeeee;
}

button.download {
    margin-right: 24px;

    &.last {
        margin-right: 0;
    }

    h6 {
        display: inline;
        margin-left: 4px;
    }
}

.navbar {
    background: #ffffff;
    padding: 16px;

    .navbar-center {
        img {
            width: 32px;
        }
    }
}

#carousel-container {
    padding: 0;

    .carousel {
        max-height: 512px;

        .item-prev {
            top: 25%;
        }

        .item-next {
            top: 25%;
        }
    }
}

#masthead {
    position: absolute;
    z-index: 200;
    top: 144px;
    left: 50%;
    width: 75%;
    transform: translate(-50%, 0);

    #action {
        padding-right: 24px;
        text-align: right;

        h1 {
            color: rgba(255, 255, 255, 0.85);
            font-weight: 100;
            font-size: 2.5rem;
            margin-top: 48px;
            margin-bottom: 48px;
        }
    }

    #image {
        padding-left: 24px;
        text-align: left;

        img {
            width: 90%;
        }
    }
}

#main-content {
    color: #777777;
    text-align: center;
    margin-bottom: 48px;

    h1 {
        font-weight: 400;
        font-variant-caps: all-small-caps;
        margin-top: 48px;
        margin-bottom: 64px;
    }

    h4 {
        font-weight: 400;
        font-variant-caps: all-small-caps;
    }

    p {
        width: 80%;
        margin: 0 auto;
    }

    .head-icon {
        margin: 0 auto;
        width: 88px;
        height: 88px;
        padding: 20px;
        background: #dddddd;
        border-radius: 50%;
        margin-bottom: 24px;
        border: 1px solid #cccccc;

        img {
            width: 100%;
        }
    }
}

footer {
    background: #8c5685;
    color: #eeeeee;
    padding: 2px;
    text-align: center;

    p {
        font-variant-caps: all-small-caps;
        margin: 0;
        padding: 0;
    }
}